body {
    background-image: url('../images/background.jpg');
    font-size: 18px;
    line-height: 34px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
}

.row {
    margin: 20px;
}

div{
    background-color: whitesmoke;
    margin: 10px;
    width: 65%;
    border: solid 2px #474766;
    padding: 10px;
}

div.row {
    width: 55%;
    text-align: center;
}

* {
    box-sizing: border-box;
}

h1,
h2,
p {
    margin-bottom: 20px;
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: 700;
    color: #474766;
}

h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #474766;
    padding-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 22px;
}

p {
    text-align: left;
}

.gems{
    clear: both;
}

.gemImage{
    height: 80px;
    margin: 10px;
}
